.App {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-color: white;
  padding-top: 4rem;
  min-height: 100vh;
  font-size: 35px;
}

.navbar {
  background-color: lightskyblue !important;
}

